{% extends 'base.html.twig' %}

{% block title %}Edit PureProduit{% endblock %}

{% block body %}
    <h1>Edit PureProduit</h1>

    {{ include('pure_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pure_produit_index') }}">back to list</a>

    {{ include('pure_produit/_delete_form.html.twig') }}
{% endblock %}
