{% extends 'dashboard/vendeur.html.twig' %}

{% block content %}
    <h1>Create new PureProduit</h1>

    {{ include('pure_produit/_form.html.twig') }}

    <a href="{{ path('produit_index') }}">back to list</a>
{% endblock %}
