{% extends 'base.html.twig' %}

{% block title %}Edit PureAnnonce{% endblock %}

{% block body %}
    <h1>Edit PureAnnonce</h1>

    {{ include('pure_annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annonce_index') }}">back to list</a>

    {{ include('pure_annonce/_delete_form.html.twig') }}
{% endblock %}
