{% extends 'dashboard/vendeur.html.twig' %}

{% block content %}
<a href="{{ path('dashboard_mes_annonces') }}" class="inline-block mb-4 bg-gray-200 text-gray-800 font-semibold p-2 rounded-full hover:bg-gray-300 transition duration-300">
    <svg class="w-5 h-5 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 19l-7-7 7-7" />
    </svg>
</a>

    <h1 class="text-2xl font-bold mb-4 text-yellow-400">Modifier le produit</h1>

    {{ include('pure_annonce/_form.html.twig', {'button_label': 'Mettre à jour'}) }}



    {{ include('pure_annonce/_delete_form.html.twig') }}
{% endblock %}
