<form method="post" action="{{ path('user_delete', {'id': pure_user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pure_user.id) }}">
    <button class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-400 transition" type="submit">
        Supprimer l'utilisateur
    </button>
</form>
