{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new PureUser</h1>

    {{ include('pure_user/_form.html.twig', {'button_label': 'Create'}) }}

    {% if form_errors(form) %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}

